.message-body{
    width: 100%;
}

.message-grid{
    display: grid;
    grid-template-rows: minmax(64px,1fr);
    row-gap: 40px;
}

.message-title{
    font-size: 1.2rem;
    display: block;
    margin-bottom: 1rem;
    flex-grow: 0;
}

.message__text-center{
    text-align: center;
}