$box-shadow-color: rgba(102,102,102,0.51);

#input-container{
    width: 100%;
    -webkit-box-shadow: 0px 2px 5px 2px $box-shadow-color;
    -moz-box-shadow: 0px 2px 5px 2px $box-shadow-color;
    box-shadow: 0px 2px 5px 2px $box-shadow-color;
}

#search-input{
    font-size: .7rem;
    height: 2rem;
    flex: 1 1;
    padding: .1rem 1.5rem;
}

#search-button{
    padding-left: .8rem;
    padding-right: .8rem;
    cursor: pointer;
}

